@using Microsoft.AspNetCore.Hosting
@using BackendSite.Service.BLL
@inject IWebHostEnvironment environment
@inject SelLangBLL selLangBLL
@inject ServerInfoBLL serverInfoBLL
@inject AuthorizeBLL authorizeBLL
@{
    Layout = null;
    var serverInfo = serverInfoBLL.GetServerInfo();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link type="text/css" rel="stylesheet" href="~/css/admin-login.css">
</head>

<body>
    <form id="frmLogin" name="frmLogin">
        <div class="login">
            <div class="login__item">
                <span class="logo">
                    <img src="~/images/logo.svg">
                </span>
            </div>
            <div class="login__item">
                <div class="textfield">
                    <input class="textfield__input" type="text" id="txtID" name="txtID" placeholder="@selLangBLL.GetResourceValue("lbl_UserName")">
                </div>
            </div>
            <div class="login__item">
                <div class="textfield">
                    <input class="textfield__input" type="password" id="txtPW" name="txtPW" placeholder="@selLangBLL.GetResourceValue("lbl_Userpwd")">
                </div>
            </div>
            <div class="login__item">
                <button class="btn btn-highlight">
                    <span class="text">@selLangBLL.GetResourceValue("lbl_Login")</span>
                </button>
            </div>
        </div>
    </form>
    
    <script>
        document.getElementById('txtID').focus();
        @{
                Dictionary<string, string> i18n = new Dictionary<string, string>();
                i18n.Add("errlogin_enter_un", selLangBLL.GetMsg("errlogin_enter_un"));
                i18n.Add("errlogin_enter_pw", selLangBLL.GetMsg("errlogin_enter_pw"));
        }
        var i18n = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(i18n));
    </script>
    <script src="~/lib/axios.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Home/Login.js"></script>
</body>
</html>
