@using BackendSite.Service.BLL
@inject SelLangBLL selLangBLL
@{
    Layout = "~/Views/Shared/_LayoutReactJs.cshtml";
    ViewData["Title"] = "Point level management";
}
<link href="~/css/marketing.css" rel="stylesheet" />
<div id="point-management">
</div>
@section Scripts {
    <script src="~/js/component/Marketing/PointLevelList.min.js"></script>
}