.panel-flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }
  .panel-flex .form-group {
    flex-basis: 50%;
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px; }

input[readonly] {
  background: #f2f2f2 !important; }

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99; }

.popup_inner {
  position: absolute;
  width: 400px;
  left: 50%;
  transform: translateX(-200px);
  top: 50px;
  margin: auto;
  background: white; }
  .popup_inner h1 {
    font-family: 'Poppins', sans-serif;
    padding: 10px 15px;
    background: #303641;
    color: #fff;
    font-size: medium;
    margin-bottom: 0; }
  .popup_inner .form {
    padding: 15px; }

.ui.table thead th {
  background: #303641;
  color: #fff;
  padding: 8px 5px; }

.ui.celled.table tr td, .ui.celled.table tr th {
  vertical-align: middle; }

.swal2-modal {
  margin-top: 100px !important;
  width: 25em;
  /*.swal2-icon {
        width: 3em;
        height: 3em;
        border-width: 2px;

        .swal2-icon-content {
            font-size: 1.75em;
        }
    }*/ }
  .swal2-modal .swal2-title {
    font-size: 18px; }
