@model IEnumerable<BackendSite.Service.Model.BankDetail>
@using Microsoft.AspNetCore.Hosting
@using BackendSite.Service.BLL
@using BackendSite.Service.Model
@inject IWebHostEnvironment environment
@inject SelLangBLL selLangBLL
@inject ServerInfoBLL serverInfoBLL
@inject AuthorizeBLL authorizeBLL
@inject IWebHostEnvironment environment
@{
    Layout = "~/Views/Shared/_LayoutReactJs.cshtml";
    ViewData["Title"] = @selLangBLL.GetResourceValue("lbl_BankCardList");
}
@{
    var i18n = new Dictionary<string, string>();
    i18n.Add("lbl_Currency2", selLangBLL.GetResourceValue("Currency_2"));
    i18n.Add("lbl_Currency4", selLangBLL.GetResourceValue("Currency_4"));
    i18n.Add("lbl_Currency15", selLangBLL.GetResourceValue("Currency_15"));
    i18n.Add("lbl_Currency51", selLangBLL.GetResourceValue("Currency_51"));
    i18n.Add("lbl_Enable", selLangBLL.GetResourceValue("lbl_Enable"));
    i18n.Add("lbl_Disable", selLangBLL.GetResourceValue("lbl_Disable"));
}
<h4>@selLangBLL.GetResourceValue("lbl_BankCardList")</h4>
<hr />
<div id="Panel"></div>
@section Scripts {
    <script src="~/js/component/Payment/BankInfoList.min.js" asp-append-version="true"></script>
}