@charset "UTF-8";
/*for chrome font size*/

* {
    -webkit-text-size-adjust: none;
}

body {
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    background: #F3F8FB;
}

form {
    margin: 0px;
}

input {
    border: 1px solid #e2e2e2;
    padding: 2px 3px 2px 3px;
}

.noborder {
    border-right-style: none !important;
}

.noborder_all {
    border-style: none !important;
}

h1 {
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    color: #0d609e;
    margin: 0px;
}

h2 {
    font-size: 12px;
    line-height: 24px;
    font-weight: bold;
    color: #454545;
    margin: 0px;
    text-indent: 18px;
    background-image: url(../images/icon_arrowdb_rd.gif);
    background-repeat: no-repeat;
    background-position: 5px 10px;
}

.boxgy table {
    width: 100%;
}

    .boxgy table td {
        padding: 5px;
    }

.boxgy select {
    border: 1px solid #e2e2e2;
}

.boxgy2 {
    padding: 5px;
    border: 5px solid #e2e2e2;
    width: 500px;
}

.dotline {
    height: 1px;
    width: 100%;
    border-bottom: 1px dotted #999999;
    margin-top: 2px;
}

.hight10 {
    height: 10px;
    width: 500px;
}

.tab_padding0 td, nopadding {
    padding: 0px !important;
}

/** btn **/
.btnstyle {
    font-size: 11px;
    color: #FFFFFF;
}

    .btnstyle ul {
        margin: 0px;
        list-style-type: none;
        padding: 0px;
        margin: 4px !important;
    }

        .btnstyle ul li {
            margin-left: 12px;
            list-style-type: none;
            display: inline;
        }

a.btnbu, a.btngy {
    display: inline-block;
    padding: 2px 5px;
    text-decoration: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
}

.btnstyle_Ref, .multi, .Userfn-on a, .Userfn a {
    display: inline-block;
    padding: 2px 5px;
    text-decoration: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
}

.multi {
    margin: 0px !important;
}

.Userfn-on a, .btnstyle li a.btnbu:hover {
    color: #333333;
    background: #d6d6d6;
}

a.btnbu, .multi, .Userfn a {
    color: #666666;
    background: #ffffff;
    /* Old browsers */
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dadada));
    background: linear-gradient(to bottom, #ffffff 0%, #dadada 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadada',GradientType=0 );
    /* IE6-9 */
    border: 1px solid #999999;
    text-decoration: none !important;
}

.btnstyle li a.btngy {
    color: #666666;
    background: #ffffff;
    /* Old browsers */
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dadada));
    background: linear-gradient(to bottom, #ffffff 0%, #dadada 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadada',GradientType=0 );
    /* IE6-9 */
    border: 1px solid #999999;
}

    .btnstyle li a.btngy:hover {
        color: #333333;
        background: #d6d6d6;
    }

.btnstyle_Ref {
    color: #999999;
    background: #ffffff;
    /* Old browsers */
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(50%, #f1f1f1), color-stop(51%, #e1e1e1), to(#f6f6f6));
    background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
    /* IE6-9 */
    border: 1px solid #999999;
}

.Userfn a {
    width: 150px;
    margin: 2px;
}

.Userfn-on a {
    width: 150px;
    margin: 2px;
    color: #fff;
    background: #3990cc;
    /* Old browsers */
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#3990cc), to(#56a4de));
    background: linear-gradient(to bottom, #3990cc 0%, #56a4de 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3990cc', endColorstr='#56a4de',GradientType=0 );
    /* IE6-9 */
    border: 1px solid #999999;
    width: 150px;
}

.Userfn a:hover {
    color: #fff;
    background: #3990cc;
    /* Old browsers */
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#3990cc), to(#56a4de));
    background: linear-gradient(to bottom, #3990cc 0%, #56a4de 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3990cc', endColorstr='#56a4de',GradientType=0 );
    /* IE6-9 */
    border: 1px solid #999999;
    width: 150px;
}

.disable {
    color: #A5A5A5 !important;
    background: #d6d6d6 !important;
    cursor: default !important;
}

/** btn end**/
/** content **/
.title11bk {
    font-size: 11px;
    line-height: 18px;
    font-weight: bold;
    color: #5c5c5c;
}

.tabcontrd {
    font-size: 11px;
    font-weight: bold;
    color: #FF0000;
}

.tabcontbk {
    font-size: 11px;
    font-weight: bold;
    color: #454545;
}

.tabcontbu {
    font-size: 11px;
    font-weight: bold;
    color: #454545 !important;
}

.contbu {
    font-size: 11px;
    line-height: 18px;
    font-weight: normal;
    color: #2189d0;
}

.contrd {
    color: #FF0000 !important;
}

.contgy {
    font-size: 11px;
    color: #454545;
}

.pagestyle {
    font-size: 12px;
    font-weight: bold;
    color: #003399;
    margin-right: 3px;
    margin-left: 3px;
}

    .pagestyle a {
        font-size: 12px;
        font-weight: bold;
        color: #003399;
        margin-right: 3px;
        margin-left: 3px;
    }

        .pagestyle a:hover {
            color: #ff5a00;
        }

/** content end **/
/** table **/
.tabstyle01, .tabstyle03 {
    border: 1px solid #e2e2e2 !important;
    padding: 1px 1px 0;
    width: 100% !important;
}

    .tabstyle01 td {
        border-right: 1px solid #e2e2e2;
        color: #5D5C5C;
        font-size: 11px;
        padding: 3px;
    }

    .tabstyle03 td {
        border-bottom: 1px solid #FFFFFF;
        border-right: 1px solid #e2e2e2;
        color: #5D5C5C;
        font-size: 11px;
    }

    .tabstyle01 th {
        background-color: #5ca9e2;
        border-bottom: 1px solid #FFFFFF;
        border-right: 1px solid #FFFFFF;
        color: #ffffff;
        font-size: 11px;
        font-weight: lighter;
        padding-top: 3px;
        vertical-align: top;
    }

th.bluebgcolor {
    background-image: none;
}

.tabstyle01 th.noborder2 {
    border-right-width: 1px;
}

.tabstyle01 th.tabbox {
    background-color: #5DAAE3;
    background-image: url("../images/tab_topbg.gif");
    background-repeat: repeat-x;
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
    text-align: center;
}

.tabstyle01 td.tabbox {
    background-color: #4E9CD6;
    background-repeat: repeat-x;
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: lighter;
    padding-top: 3px;
}

.tabstyle01 td.tabbox2 {
    background-color: #FFFFFF;
    border-right: 1px solid #E4E4E4;
    text-align: center;
}

.tabstyle01 a {
    color: #666666;
    text-decoration: underline;
}

a.message1 {
    color: #666666;
    text-decoration: underline;
}

.tabstyle01 a:hover, a:hover.message1 {
    color: #66CCFF;
    text-decoration: none;
}

.tabstyle01 td.tabtitlebg {
    background-image: url("../images/tab_topbg.gif");
    background-position: center top;
    background-repeat: repeat-x;
    border-right: 1px solid #FFFFFF;
    height: 31px;
    padding: 0 !important;
    width: 135px;
}

.tabstyle01 td.tabsubtitle {
    background-color: #E2F1FF;
    border-right: 1px solid #FFFFFF;
}

.tabstyle01 td.tabsubtitle-r {
    background-color: #E2F1FF;
    border-right: 1px solid #e2e2e2;
}

.tabstyle01 td.tabsubtitle2 {
    background-color: #FFFFFF;
    border-right: 1px solid #e2e2e2;
}

.tabstyle01 td.tabsubtitle3 {
    background-color: #CEE6F8;
    border-right: 1px solid #FFFFFF;
    color: #436DA1;
    font-weight: bold;
}

/** table end **/
.userbox {
    background-image: url(../images/bg.gif);
    background-repeat: repeat-x;
    background-position: top;
    padding: 10px;
    width: 768px;
}

.Amountbox {
    font-size: 11px;
    font-weight: bold;
    color: #5c5c5c;
    height: 20px;
    width: 90px;
    margin-right: 5px;
    text-align: right;
    float: left;
    margin-bottom: 10px;
}

/*NEW*/
.league td {
    height: 22px;
    text-align: left;
    background-color: #5CA9E2;
    font-size: 11px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
}

.tab_Search td {
    background-color: #5CA9E2;
    font-size: 11px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    color: #ffffff !important;
}

.btnInfo, .btnInfo-less {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
}

.btnInfo {
    background: url(../images/icon_add.gif) no-repeat center -2px;
}

.btnInfo-less {
    background: url(../images/icon_less.gif) no-repeat center -2px;
}

.titleOpen {
    display: inline-block;
    text-indent: 25px;
    background-image: url(../images/icon_add.gif);
    background-repeat: no-repeat;
    background-position: 5px 0px;
    font-size: 13px;
    padding: 0px 0px 0px 0px;
    font-weight: bold;
    line-height: 16px;
    color: #585858;
}

.titleClose {
    display: inline-block;
    text-indent: 25px;
    background-image: url(../images/icon_add.gif);
    background-repeat: no-repeat;
    background-position: 5px 0px;
    font-size: 13px;
    padding: 0px 0px 0px 0px;
    font-weight: bold;
    line-height: 16px;
    color: #585858;
    background-image: url(../images/icon_less.gif);
    background-repeat: no-repeat;
    background-position: 5px 0px;
}

    .titleOpen a, .titleClose a {
        color: #585858;
        text-decoration: none;
    }

/*League OpenClose*/
.league-bg-btn, span.league-bg-btn {
    color: #bababa !important;
    /**/
    font-weight: bold;
    background: url(../images/switch_btn_bg.gif) no-repeat center;
    display: inline-block;
    height: 15px;
    width: 90px;
    padding: 0px 0px 1px 18px !important;
}

    .league-bg-btn a:link {
        color: #404141 !important;
        font-weight: bold;
        text-decoration: none;
    }

    .league-bg-btn a:hover {
        color: #D2592D !important;
    }

.live-color {
    background-color: #fbe3d2;
}

.border3 {
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #ff0000;
    background-color: #ffcccc;
}

.border1 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e2e2e2;
}

/*POPUP BEING--*/
.popupbox-outline {
    width: 800px;
}

.popupbox {
    background-color: #FFF;
    padding: 10px;
    border: 4px solid #b8b8b8;
}

.popupbox-down {
    padding: 0;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #b8b8b8;
    border-right-width: 3px;
    border-right-style: solid;
    border-right-color: #b8b8b8;
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: #b8b8b8;
}

#newaccount {
    z-index: 10;
    overflow: hidden;
    position: absolute;
    width: 720px;
    background-color: #FFFFFF;
    border: 1px solid #7b7b7b;
}

    #newaccount iframe {
        display: none;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        -webkit-filter: mask();
        filter: mask();
        width: 3000px;
        height: 3000px;
    }

#CombinationDiv {
    width: 700px;
    border: 1px solid #7b7b7b;
}

#MoreDiv {
    border: 1px solid #7b7b7b;
    min-width: 300px;
    *width: 430px;
}

/*--POPUP END--*/
.btnarea {
    background-color: #eeeeee;
    text-align: center;
    padding: 5px;
}

    .btnarea table {
        text-align: left;
    }

        .btnarea table td {
            font-size: 11px !important;
        }

.tdbg1 {
    background-color: #ffffff;
}

.tdbg2, .tdbg-gy {
    background-color: #e1e1e1;
}

.Pages a {
    color: #666666;
    text-decoration: underline;
}

    .Pages a:hover {
        color: #eb6204;
        text-decoration: none;
    }

.Message_bg {
    font-size: 11px;
    line-height: 16px;
    font-weight: bold;
    color: #FF0000;
    display: block;
    padding: 5px;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.linethrough {
    color: #999999 !important;
    text-decoration: line-through !important;
}

/**Dropdown**/
/*.btn {
    border-radius: 0px;
    font-size: 12px;
    padding: 0px 6px;
}*/
.btn-default {
    border: 1px solid #e2e2e2;
}

    .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
        color: #454545;
        background-color: #ffffff;
        border-color: #e2e2e2;
    }

.open > .dropdown-toggle.btn-default {
    color: #454545;
    background-color: #ffffff;
    border-color: #e2e2e2;
}

.dropdown-menu {
    font-size: 12px;
}

    .dropdown-menu input {
        border: none;
    }

    .dropdown-menu > .active > a {
        background-color: #5CA9E2;
    }

        .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
            background-color: #5CA9E2;
        }

.multiselect-container > li > a > label {
    padding: 3px 20px 3px 10px;
}

    .multiselect-container > li > a > label > input[type=checkbox] {
        vertical-align: middle;
    }

    .multiselect-container > li > a > label.checkbox {
        display: block;
    }

/*JQuery UI*/
.ui-dialog {
    padding: .5em;
}

.ui-widget-header {
    border: none;
    background-image: url(../images/icon_title.gif);
    background-repeat: no-repeat;
    background-position: 12px 3px;
    background-color: transparent;
    color: #0d609e;
    font-size: 15px;
    padding-left: 33px !important;
    display: block;
}

.ui-widget-content {
    border: 4px solid #C7C7C7;
    background: #FFF none;
    color: #454545;
}

.ui-dialog .ui-dialog-buttonpane {
    background-color: #eeeeee;
    border-width: 0;
}

.ui-widget-content .ui-state-default {
    border: 1px solid #999999;
    background: #FFFFFF;
    /* Old browsers */
    /* FF3.6+ */
    /*Chrome10+,Safari5.1+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(60%, #dbdbdb), to(#e0e0e0));
    background: linear-gradient(to bottom, #ffffff 0%, #dbdbdb 60%, #e0e0e0 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 );
    /* IE6-9 */
    font-weight: bold;
    color: #666666;
}

    .ui-widget-content .ui-state-default:hover {
        color: #333333;
        background: #d6d6d6;
    }

.ui-dialog .ui-dialog-titlebar-close {
    background-image: url(../images/icon_close.gif);
    background-repeat: no-repeat;
    background-position: 2px;
    border: 0px;
    border-top-left-radius: 0px;
}

    .ui-dialog .ui-dialog-titlebar-close:hover {
        background-image: url(../images/icon_closeov.gif);
        background-repeat: no-repeat;
        background-position: 2px;
        border: 0px;
        background-color: transparent;
    }

.ui-state-default .ui-icon {
    background-image: none !important;
}

/*POPUP - ColossusBet
------------------------- */
.popodssBox {
    margin: 6px;
}

.more-win.Jackpot {
    width: 350px;
    padding: 10px;
}

    .more-win.Jackpot .popodds {
        padding: 20px;
    }

    .more-win.Jackpot .icon-jackpot {
        display: block;
        float: left;
        width: 64px;
        height: 64px;
        background-color: #F44336;
        background-image: url(../images/layout/icon-jackpot.png);
        border-radius: 100%;
    }

    .more-win.Jackpot .popodds h1 {
        margin-top: 0;
        padding-left: 84px;
        font-size: 18px;
        line-height: 1.25;
        margin-bottom: 10px;
    }

        .more-win.Jackpot .popodds h1 + h1 {
            margin-top: -12px;
        }

    .more-win.Jackpot .popodds > div {
        line-height: 1.5;
    }

.WinResultBox {
    padding: 0px 20px;
}

    .WinResultBox .WinResult {
        padding: 2px 8px;
        border-radius: 3px;
        display: inline-block;
        margin: 5px 2px;
        background: #e8e8e8;
        color: #444;
    }

        .WinResultBox .WinResult em {
            font-style: normal;
        }

/*Happy 5*/
.tabstyle01.happy5 {
    width: 460px !important;
}

.happy5 .colorBall, .happy5 .colorBall-primary, .happy5 .colorBall-disable {
    display: inline-block;
    border-radius: 100% !important;
    width: 28px;
    height: 28px;
    color: #01122b;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 14px;
    position: relative;
    background-image: url(../images/layout/colorball_white.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #e60012;
    vertical-align: middle;
    font-family: "Arial", "Tahoma", "pmingliu", "新細明體";
}

.happy5 .colorBall-primary {
    background-color: #0069b1;
}

.happy5 .colorBall-disable {
    background-image: url(../images/layout/colorball_white_disable.png);
    background-color: #dfdfdf;
    color: #9e9e9e;
}

.lottoBall {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 12px;
    color: #000;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 31px;
    text-align: center;
    background-image: url(../images/layout/lotto_ball.png);
    background-repeat: no-repeat;
}

    .lottoBall.blue {
        background-position: 0 -30px;
    }

    .lottoBall.red {
        background-position: 0 0;
    }
/*# sourceMappingURL=system_style.css.map */
